<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">

    <div class="jumbotron text-center">
      <h1>Mission to Mars!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Current Mars Info -->
    <div class="row">
      <div class="col-md-12">
    {% for articles in articles %}
      <h2>Latest Mars News</h2>
          <p>{{ articles.date }}: <a href="{{ articles.url }}">{{ articles.title }}</a></p>
          <p>{{ articles.teaser }}</p>
          
                <h2>Featured Mars Images</h2>
          <p>{{ articles.imgTitle }}</p>
          <p><img src="{{ articles.imgSrc }}" /></p>
          
              <h2>Current Weather on Mars</h2>
          <p>{{ articles.weather }}</p>
          
          <p><img src="{{ articles.valles_link }}" />{{ articles.valles_title }}</p>
          <p><img src="{{ articles.cerb_link }}" />{{ articles.cerb_title }}</p>
          <p><img src="{{ articles.schia_link }}" />{{ articles.schia_title }}</p>
          <p><img src="{{ articles.syrtis_link }}" />{{ articles.syrtis_title }}</p>
              
	{% endfor %}
    </div>
    </div>
  </div>
</body>

</html>
